@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
  font-family: $fontFamily;
  font-size: $baseFontSize;
  line-height: 160%;
  color: $baseFontColor;
  overflow-x: hidden;
  font-weight: 400;
  background: url('../images/body_bg.png') $bodyBGColor;
}
/*Page title*/
.region-page-title {
  h1 {
    margin: 20px 0;
  }
}
/*Footer Widget*/
.footerwidget {
  background: #108441;
  color: #86b59a;
  padding: 20px 0;
  border-top: 1px solid #f7f7f7;

  h2.title {
    color: #fff;
  }

  .left {
    float: left;
    margin: 10px 10px 0 0;
  }
}

.copyright {
  font-size: 0.65em;
  background: #f1f1f1;
  color: #000;

  p {
    margin: 20px 0;
    line-height: 100%;
  }
}
/*Google Map*/
.google_map {
  .block,
  p {
    margin: 0;
  }

  iframe {
    display: block;
  }
}
/*Credit Link*/
.credit-link {
  text-align: left;
}
/*Social Media*/
.social-media {
  margin: 5px 0;
  overflow: hidden;
  float: left;

  a {
    width: 25px;
    height: 25px;
    color: #000;
    // float: left;
    // margin: 0 10px 0 0;
    // text-align: center;
    // line-height: 220%;
    // font-size: 0.75em;
    // border-radius: 50%;

    &:hover {
      color: #27ae60;
    }
  }
}
/*Form*/
button,
input,
select,
textarea {
  padding: 6px;
  border: 1px solid #e3e3e3;
}

.contact-message-form label {
  display: block;
}

.btn,
input[type="submit"] {
  @include globalButton();
}

.btn:hover,
input[type="submit"]:hover {
  @include globalButtonHover();
}
/*Comment*/
.comment-wrap {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;

  .author-details {
    float: left;
    width: 20%;
  }

  .author-comments {
    padding-left: 5px;
    float: left;
    width: 80%;

    h3 {
      margin-top: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}

.comment-submitted {
  padding: 5px 10px;
  border: 1px solid #eee;
  display: inline-block;
  line-height: 100%;
}
/*links Inline*/
ul.links.inline li {
  display: inline-block;
  padding-right: 10px;
}
/*Sidebar Block*/
.sidebar {
  .region {
    h2.title {
      padding: 5px 0;
      margin: 0;
    }

    .content {
      padding: 10px 0;
    }
  }
}

.region-content {
  min-height: 300px;
}

.path-frontpage {
  .region-content {
    min-height: auto;
  }
}
/*Markup generated by Form API.*/
.form-actions,
.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

tr.even .form-item,
tr.odd .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 0.70em;
  line-height: 150%;
}

label.option {
  display: inline;
  font-weight: normal;
}

.form-composite > legend,
.label {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.marker {
  color: #e00;
}

abbr.ajax-changed,
abbr.tabledrag-changed {
  border-bottom: none;
}

.form-item input.error,
.form-item select.error,
.form-item textarea.error {
  border: 2px solid red;
}

.category .padding-right-20 {
  padding-right: 20px;
}

.category .margin-bottom-20 {
  margin-bottom: 20px;
}
