/*Menu*/

.navbar-default {

	.navbar-toggle{
  		z-index: 999;
		margin-right: 0;
		border: 0;
		border-radius: 4px;
		color: #fff;
		background: none;
		padding: 8px 7px;

		.icon-bar {
		  display: block;
		  width: 35px;
		  height: 4px;
		  border-radius: 1px;
		  background-color: #fff;
		}

		&:focus, &:hover{
 			background: none;
		}
	}
}

nav h2{
  display: none;
}

.menu-base-theme{
	background: none;	

	li{

		a{
			color: $menuTextColor;
			background: #FBFBFB;
			border-bottom: 1px solid #EEF0F7;
			line-height: 100%;
			padding: 15px 20px;
			text-transform: uppercase;
			font-size: .8em;

			&:hover, 
			&:focus, 
			&:active, 
			&.highlighted{
				background: none;
				color: $menuTextActiveColor;
				line-height: 100%;
				padding: 15px 20px;
			}

			&.sub-arrow{
				color: #999;
				font-size: 22px;
				padding: 5px;
				border-radius: 2px;
				border: 1px solid #DCDCDC;
				background: #EFEFEF;
			}

			span.sub-arrow{
				line-height: 130%;
				font-size: 2em;
			}
		} 
	}
}

.region-primary-menu{
	display: none;
	border-radius: 3px;
	width: 100%;
}


/*Footer Menu*/

.footer-menu{
	margin: 0;
	border: 0;
	background: #f9f9f9;
	color: #fff;
}

.region-footer-menu{	

	ul{
		margin: 10px 0;
		padding: 0;
	}
	
	nav li{
		display: inline-block;
		a{
			display: block;
			padding: 2px 15px 2px 0;
		}
	}
}


/*Top Menu*/

.top-menu{
	padding: 10px 0;
	text-align: center;
	font-size: .75em;
	background: #f9f9f9;
}

.region-top-menu{

	ul{
		text-align: center;
		margin: 0;
		padding: 0;
	}
	
	nav li{
		display: inline-block;
		a{
			display: block;
		    padding: 2px 10px;
		    background: #3ad47b;		    
		    color: #fff;		    
		    text-transform: uppercase;
		    font-weight: bold;
		    @include border-radius(3px);

			&:hover{
				background: #23b962;
			}
		}

		&:last-child{
			a{
				background: #f00;

				&:hover{
					background: #f11818;					
				}
			}
		}
	}
}