
/*Variables*/

$fontFamily: 'Open Sans', sans-serif;
$baseFontSize: 15px;
$bodyBGColor: #fff;
$baseFontColor: #444;

$linkColor: #4D92E0;
$linkColorHover: #4D92E0;
$greyOne : #eee;


/*Header*/

$headerBGColor: #000;
$headerTextColor: #fff;


/*Menu Color*/

$menuTextColor: #333;
$menuTextActiveColor: $linkColor;
$menuDropDownBg: #333;


/*Mixins*/

@mixin globalButton(){
	background: $linkColor;
	color: #fff;
	border: 0;
	padding: 10px 15px;
	line-height: 100%;
	border-radius: 0;
}

@mixin globalButtonHover(){
	background: $linkColorHover;
	color: #fff;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}