/**
	* Filename:     global.css
	* Version:      1.0.0 (2016-11-15)
	* Website:      http://www.zymphonies.com
	* Description:  Global Styles
	* Author:		support Team
					support@zymphonies.com
**/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/*Variables*/
/*Header*/
/*Menu Color*/
/*Mixins*/
/** @file Styles for system messages. */
.messages { background: no-repeat 10px 17px; /* LTR */ border: 1px solid; border-width: 1px 1px 1px 0; /* LTR */ border-radius: 2px; padding: 10px 20px 10px 20px; /* LTR */ word-wrap: break-word; overflow-wrap: break-word; margin: 5px 0px; }

.messages + .messages { margin-top: 1.538em; }

.messages__list { list-style: none; padding: 0; margin: 0; }

.messages__item + .messages__item { margin-top: 0.769em; }

/* See .color-success in Seven's colors.css */
.messages--status { color: #325e1c; background-color: #f3faef; border-color: #c9e1bd #c9e1bd #c9e1bd transparent; /* LTR */ box-shadow: -8px 0 0 #77b259; /* LTR */ }

/* See .color-warning in Seven's colors.css */
.messages--warning { background-color: #fdf8ed; border-color: #f4daa6 #f4daa6 #f4daa6 transparent; /* LTR */ color: #734c00; box-shadow: -8px 0 0 #e09600; /* LTR */ }

/* See .color-error in Seven's colors.css */
.messages--error { background-color: #fcf4f2; color: #a51b00; border-color: #f9c9bf #f9c9bf #f9c9bf transparent; /* LTR */ box-shadow: -8px 0 0 #e62600; /* LTR */ }

.messages--error p.error { color: #a51b00; }

/*FORM*/
/** @file Visual styles for form components. */
form .field-multiple-table { margin: 0; }

form .field-multiple-table .field-multiple-drag { width: 30px; padding-right: 0; /*LTR*/ }

form .field-multiple-table .field-multiple-drag .tabledrag-handle { padding-right: .5em; /*LTR*/ }

form .field-add-more-submit { margin: .5em 0 0; }

/*TABS*/
div.tabs { margin: 1em 0; }

ul.tabs { list-style: none; margin: 0 0 0.5em; padding: 0; }

.tabs > li { display: inline-block; margin-right: 0.3em; /* LTR */ }

.tabs a { display: block; padding: 6px 10px; text-decoration: none; font-size: 13px; background: #e6e6e6; line-height: 100%; color: #444; }

.tabs a.is-active { background-color: #fd2626; color: #fff; }

.tabs a:focus, .tabs a:hover { background-color: #ea1616; color: #fff; }

/** @file Seven styles for Tables. */
table { width: 100%; margin: 0 0 10px; }

caption { text-align: left; /* LTR */ }

th { text-align: left; /* LTR */ padding: 10px 12px; }

thead th { background: #f5f5f2; border: solid #bfbfba; border-width: 1px 0; color: #333; text-transform: uppercase; }

tr { border-bottom: 1px solid #e6e4df; padding: 0.1em 0.6em; }

thead > tr { border-bottom: 1px solid #000; }

tbody tr:hover, tbody tr:focus { background: #f7fcff; }

/* See colors.css */
tbody tr.color-warning:hover, tbody tr.color-warning:focus { background: #fdf8ed; }

tbody tr.color-error:hover, tbody tr.color-error:focus { background: #fcf4f2; }

td, th { vertical-align: middle; }

td { padding: 10px 12px; text-align: left; /* LTR */ }

th > a { position: relative; display: block; }

/* 1. Must match negative bottom padding of the parent <th> */
th > a:after { content: ''; display: block; position: absolute; top: 0; bottom: -10px; /* 1. */ left: 0; right: 0; border-bottom: 2px solid transparent; -webkit-transition: all 0.1s; transition: all 0.1s; }

th.is-active > a { color: #004875; }

th.is-active img { position: absolute; right: 0; /* LTR */ top: 50%; }

th.is-active > a:after { border-bottom-color: #004875; }

th > a:hover, th > a:focus, th.is-active > a:hover, th.is-active > a:focus { color: #008ee6; text-decoration: none; }

th > a:hover:after, th > a:focus:after, th.is-active > a:hover:after, th.is-active > a:focus:after { border-bottom-color: #008ee6; }

td .item-list ul { margin: 0; }

td.is-active { background: none; }

/* Force browsers to calculate the width of a 'select all' TH element. */
th.select-all { width: 1px; }

/** Captions. */
.caption { margin-bottom: 1.2em; }

.field--label-inline .field__label { font-weight: bold }

.field--label-inline .field__label,.field--label-inline .field__items,.field--label-inline .field__item { display: inline-block }

/** Responsive tables. */
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low, td.priority-low, th.priority-medium, td.priority-medium { display: none; } }
@media screen and (max-width: 60em) { /* 920px */
  th.priority-low, td.priority-low { display: none; } }
p { margin: 0 0 20px 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 { color: #000; font-weight: 500; margin-bottom: 15px; line-height: 150%; }

h1, .h1 { font-size: 1.6em; }

h2, .h2 { font-size: 1.3em; }

h3, .h3 { font-size: 1.2em; }

h4, .h4 { font-size: 1em; }

img { max-width: 100%; }

strong { font-weight: bold; }

a { color: #27ae60; }
a:hover { color: #27ae60; text-decoration: none; }

ol, ul { padding-left: 20px; margin-bottom: 20px; }
ol li, ul li { list-style: outside; }

ol li { list-style-type: decimal; }

ul.links.inline { padding: 0; }
ul.links.inline li { list-style: none; }

.block { margin-bottom: 20px; }

body { font-family: "Open Sans", sans-serif; font-size: 15px; line-height: 160%; color: #444444; overflow-x: hidden; font-weight: 400; background: url("../images/body_bg.png") white; }

/*Page title*/
.region-page-title h1 { margin: 20px 0; }

/*Footer Widget*/
.footerwidget { background: #108441; color: #86b59a; padding: 20px 0; border-top: 1px solid #f7f7f7; }
.footerwidget h2.title { color: #fff; }
.footerwidget .left { float: left; margin: 10px 10px 0 0; }

.copyright { font-size: .65em; background: #000; color: #eee; }
.copyright p { margin: 20px 0; line-height: 100%; }

/*Google Map*/
.google_map p, .google_map .block { margin: 0; }
.google_map iframe { display: block; }

/*Credit Link*/
.credit-link { text-align: left; }

/*Social Media*/
.social-media { margin: 10px 0; overflow: hidden; float: left; }
.social-media a { width: 25px; height: 25px; color: #000; float: left; margin: 0 10px 0 0; text-align: center; line-height: 220%; font-size: 0.75em; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.social-media a:hover { color: #27ae60; }

/*Form*/
input, button, select, textarea { padding: 6px; border: 1px solid #e3e3e3; }

.contact-message-form label { display: block; }

.btn, input[type="submit"] { background: #27ae60; color: #fff; border: 0; padding: 10px 15px; line-height: 100%; border-radius: 0; }

.btn:hover, input[type="submit"]:hover { background: #27ae60; color: #fff; }

/*Comment*/
.comment-wrap { overflow: hidden; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #F5F5F5; }
.comment-wrap .author-details { float: left; width: 20%; }
.comment-wrap .author-comments { padding-left: 5px; float: left; width: 80%; }
.comment-wrap .author-comments h3 { margin-top: 10px; }
.comment-wrap .author-comments p { margin-bottom: 10px; }

.comment-submitted { padding: 5px 10px; border: 1px solid #eee; display: inline-block; line-height: 100%; }

/*links Inline*/
ul.links.inline li { display: inline-block; padding-right: 10px; }

/*Sidebar Block*/
.sidebar .region h2.title { padding: 5px 0; margin: 0; }
.sidebar .region .content { padding: 10px 0; }

.region-content { min-height: 300px; }

.path-frontpage .region-content { min-height: auto; }

/*Markup generated by Form API.*/
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }

tr.odd .form-item, tr.even .form-item { margin-top: 0; margin-bottom: 0; }

.form-composite > .fieldset-wrapper > .description, .form-item .description { font-size: 0.70em; line-height: 150%; }

label.option { display: inline; font-weight: normal; }

.form-composite > legend, .label { display: inline; font-size: inherit; font-weight: bold; margin: 0; padding: 0; }

.form-checkboxes .form-item, .form-radios .form-item { margin-top: 0.4em; margin-bottom: 0.4em; }

.marker { color: #e00; }

abbr.tabledrag-changed, abbr.ajax-changed { border-bottom: none; }

.form-item input.error, .form-item textarea.error, .form-item select.error { border: 2px solid red; }

/* Testimonials */
.testimonials-wrap { background: #fafafa; border-top: solid 1px #e3e3e3; border-bottom: solid 1px #e3e3e3; padding: 20px 0; text-align: center; font-size: 1em; line-height: 160%; }

.region-testimonials { max-width: 600px; margin: 0 auto; }

.testimonials-pic { width: 40px; height: 40px; display: inline-block; vertical-align: bottom; margin-right: 10px; }

.testimonials-pic img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.testimonials-author { padding: 0 5px; font-size: .75em; color: #555; }

/*Top Widget*/
.topwidget { text-align: center; }
.topwidget h2.title { margin: 20px 0; }
.topwidget .col-sm-4 { padding: 0; }
.topwidget .region { background: #fff; overflow: hidden; }

/*Front Page*/
.path-frontpage .feed-icon { display: none; }

.path-frontpage .content_layout { text-align: center; max-width: 750px; margin: 0 auto; padding: 20px 0; overflow: hidden; }

/*Region Homepage Message*/
.region-homepagemessage { padding: 20px 0; text-align: center; max-width: 750px; margin: 0 auto; }
.region-homepagemessage p, .region-homepagemessage .block { margin: 0; }

/*Address*/
.address-wrap { text-align: center; padding: 20px 0; background: url('../images/world-map.png?1475749338') gainsboro center no-repeat; }

/*Bottom Widgets*/
.bottom-widgets { text-align: center; margin: 0 auto; padding-bottom: 30px; background: #27ae60; color: #b4dec6; }
.bottom-widgets .block h2.title { margin: 5px 0 10px 0; color: #fff; }
.bottom-widgets .row > div { border-right: 1px solid #2ec16c; }
.bottom-widgets .row > div:last-child { border: 0; }

.path-frontpage .bottom-widgets { padding: 20px 0; }

/*Header*/
.main-header { background-size: cover; position: relative; background: black; padding: 5px 0; border-bottom: 1px solid #f7f7f7; }
.main-header nav { background: none; border: 0; margin: 0; position: relative; min-height: auto; border-radius: 0; }
.main-header .region { position: relative; }
.main-header .block { margin: 0; }

/*Region Header*/
.site-branding { margin: 0; }

.brand.logo { margin-right: 3px; }

.region-header .brand { display: inline-block; vertical-align: middle; color: white; line-height: 120%; font-size: 1.3em; }
.region-header .brand a { color: white; }
.region-header .brand .site-branding__slogan { font-size: .7em; }

.region-contact-email .block { margin: 5px 0; }
.region-contact-email p { margin: 0; line-height: 120%; /*font-size: 2em;*/ }

/*Search Form*/
.search-block-form { margin: 0 auto; }

.region-search { clear: both; padding: 6px 0; }

#search-block-form { display: table; width: 100%; }
#search-block-form .form-item, #search-block-form .form-actions { display: table-cell; vertical-align: top; }
#search-block-form input.form-submit { background: url('../images/search.png?1452238642') no-repeat center #27ae60; font-size: 0; width: 100%; height: 30px; vertical-align: top; }
#search-block-form input { width: 100%; height: 30px; }

/*Breadcrumb*/
.breadcrumb { font-size: .85em; padding: 3px 10px; margin: 0; background: #fff; display: inline-block; }
.breadcrumb ul { padding: 0; margin: 0; }
.breadcrumb ul li { display: inline-block; }
.breadcrumb ul li:last-child span { display: none; }

/*Flexslider*/
.flexslider { border: 0; margin: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.flexslider .slider-caption { display: none; position: absolute; top: 25%; right: 0; left: 4%; z-index: 999; width: 50%; text-align: left; font-size: 1em; line-height: 150%; padding: 0 15px; }
.flexslider h2 { font-weight: bold; font-size: 1.3em; display: inline-block; text-transform: uppercase; margin: 0; line-height: 100%; background: #27ae60; padding: 10px; color: #fff; }
.flexslider .slider-description { display: inline-block; clear: both; color: #000; padding: 10px; margin-bottom: 0px; background: #000; color: #fff; }
.flexslider .more-link { padding: 8px 10px; font-size: .9em; display: inline-block; font-weight: bold; text-transform: uppercase; color: #fff; }
.flexslider .slides li { position: relative; }
.flexslider .flex-direction-nav { display: none; position: absolute; top: 50%; width: 100%; }
.flexslider .flex-direction-nav li { list-style: none; }
.flexslider .flex-direction-nav a { font-size: 0; padding: 10px; }
.flexslider .flex-control-paging li a { width: 8px; height: 8px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.flexslider .flex-control-nav { bottom: 0; }

/*Menu*/
.navbar-default .navbar-toggle { z-index: 999; margin-right: 0; border: 0; border-radius: 0; color: #fff; background: none; padding: 6px 6px; }
.navbar-default .navbar-toggle .icon-bar { display: block; width: 35px; height: 4px; border-radius: 1px; background-color: #fff; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background: none; }

nav h2 { display: none; }

.menu-base-theme { background: none; }
.menu-base-theme li a { color: #333333; background: #FBFBFB; border-bottom: 1px solid #EEF0F7; line-height: 100%; padding: 15px 20px; text-transform: uppercase; font-size: .8em; }
.menu-base-theme li a:hover, .menu-base-theme li a:focus, .menu-base-theme li a:active, .menu-base-theme li a.highlighted { background: none; color: #27ae60; line-height: 100%; padding: 15px 20px; }
.menu-base-theme li a.sub-arrow { color: #999; font-size: 22px; padding: 5px; border-radius: 2px; border: 1px solid #DCDCDC; background: #EFEFEF; }
.menu-base-theme li a span.sub-arrow { line-height: 130%; font-size: 2em; }

.region-primary-menu { display: none; border-radius: 3px; width: 100%; }

/*Footer Menu*/
.footer-menu { margin: 0; border: 0; background: #f9f9f9; color: #fff; }

.region-footer-menu ul { margin: 10px 0; padding: 0; }
.region-footer-menu nav li { display: inline-block; }
.region-footer-menu nav li a { display: block; padding: 2px 15px 2px 0; }

/*Top Menu*/
.top-menu { padding: 10px 0; text-align: center; font-size: .75em; background: #f9f9f9; }

.region-top-menu ul { text-align: center; margin: 0; padding: 0; }
.region-top-menu nav li { display: inline-block; }
.region-top-menu nav li a { display: block; padding: 2px 10px; background: #3ad47b; color: #fff; text-transform: uppercase; font-weight: bold; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.region-top-menu nav li a:hover { background: #23b962; }
.region-top-menu nav li:last-child a { background: #f00; }
.region-top-menu nav li:last-child a:hover { background: #f11818; }

/*Demo Typography*/
.bd-example { position: relative; padding: 20px; border: 2px solid #f7f7f9; }

.highlight { padding: 20px; background-color: #f7f7f9; }
.highlight pre { border: 0; background: none; }

.bd-example-type h1, .bd-example-type h2, .bd-example-type h3, .bd-example-type h4, .bd-example-type h5, .bd-example-type h6 { margin: 0; }
.bd-example-type .table td { padding: 15px 0; border-color: #eee; }
.bd-example-type .table tr:first-child td { border-top: 0; }

/*----------------------------
	Contact page
-----------------------------*/
.contact-message-feedback-form { max-width: 650px; margin: 0 auto; border: 1px solid #E9E8ED; padding: 10px 20px; background: #FDFDFD; }

.contact-message-feedback-form .form-text, .contact-message-feedback-form .form-email, .contact-message-feedback-form .form-textarea { width: 100%; }

/*----------------------------
	User Login Form
-----------------------------*/
.user-login-form, .user-form, .user-pass { max-width: 500px; margin: 40px auto; border: 1px solid #e6e6e6; padding: 5px 20px; background: #fdfdfd; }
.user-login-form .form-text, .user-login-form .form-email, .user-form .form-text, .user-form .form-email, .user-pass .form-text, .user-pass .form-email { width: 100%; }

.form-composite > .fieldset-wrapper > .description, .form-item .description { color: #999; font-style: italic; }

/*----------------------------
	Maintainance
-----------------------------*/
.maintenance-page { background: url('../images/maintenance-bg.png?1451969854') #66cbff center no-repeat; color: #fff; text-align: center; padding-top: 220px; padding-bottom: 100px; color: #000; }
.maintenance-page .brand, .maintenance-page .name-and-slogan { display: inline-block; vertical-align: middle; }
.maintenance-page .site-name a { color: #404040; }
.maintenance-page .site-slogan, .maintenance-page .name-and-slogan { display: none; }

.maintenance-msg { margin: 20px 0; background: rgba(242, 244, 207, 0.88); padding: 20px 30px; display: inline-block; color: #404040; border: 1px solid #fff; box-shadow: 5px 5px 0px #fff; }
.maintenance-msg h1 { text-transform: uppercase; font-weight: bold; }

/*----------------------------
	Profile Page
-----------------------------*/
.path-user .profile > div { display: inline-block; }
.path-user .profile .label { display: block; color: #333; }

body {
  border: 10px solid red;
}
