/*Flexslider*/
.flexslider {
	border: 0;
	margin: 0;
	@include box-shadow(none);
	@include border-radius(0);

	.slider-caption {
		display: none;
		position: absolute;
		top: 25%;
		right: 0;
		left: 4%;
		z-index: 999;
		width: 50%;
		text-align: left;
		font-size: 1em;
		line-height: 150%;
		padding: 0 15px;
	}

	h2 {
		font-weight: bold;
		font-size: 1.3em;
		display: inline-block;
		text-transform: uppercase;
		margin: 0;
		line-height: 100%;
		background: transparent;
		padding: 10px;
		color: #fff;
	}

	.slider-description {
		display: inline-block;
		clear: both;
		color: #fff;
		padding: 10px;
		margin-bottom: 0;
		background: #4d92e0;
		color: #fff;
	}

	.more-link {
		padding: 8px 10px;
		font-size: 0.9em;
		display: inline-block;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
	}

	.slides {
		li {
			position: relative;
		}
	}

	.flex-direction-nav {
		display: none;
		position: absolute;
		top: 50%;
		width: 100%;

		li {
			list-style: none;
		}

		a {
			font-size: 0;
			padding: 10px;
		}
	}

	.flex-control-paging li a {
		width: 8px;
		height: 8px;
		display: block;
		background: #fff;
		cursor: pointer;
		text-indent: -9999px;
		@include border-radius(50%);
	}

	.flex-control-nav {
		bottom: 0;
	}
}
