body {
  background-image: none;
  overflow-x: hidden;
}

.region.region-header {
  text-align: center;
}

.brand.logo {
  max-width: 140px;
}

.main-header {
  background: #f1f1f1;
}

.region-primary-menu {
  min-width: 100%;
}

.main-header nav {
  text-align: center;
}

@media (min-width: 768px) {
  .main-header nav .menu-base-theme {
    display: inline-block;
  }
}

.navbar-header {
  float: none;
}

.navbar-default .navbar-toggle {
  position: absolute;
  right: 10px;
  background-color: #4D92E0;
}

.navbar-default .navbar-toggle:hover {
  background-color: #4D92E0;
  opacity: 0.7;
}

#main-menu {
  padding-top: 20px;
}

#main-menu li a {
  background: #4d92e0;
  color: #fff;
  margin-right: 7px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  #main-menu li .is-active::before {
    content: " ";
    padding: 0px;
    position: absolute;
    background-color: transparent;
    bottom: -5px;
    z-index: 1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4d92e0;
    left: 40%;
    right: auto;
    top: auto;
  }
}

@media (min-width: 320px) {
  #main-menu li.active a.is-active {
    background: #207ce4;
  }
}

@media (min-width: 768px) {
  #main-menu li.active a.is-active {
    background: #4d92e0;
  }
}

.node--type-product img {
  height: auto;
}

@media (min-width: 768px) {
  .node--type-product.ds-2col-stacked-fluid>.group-right {
    margin-top: 0px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .node--type-product.ds-2col-stacked-fluid>.group-right {
    margin-top: 20px;
  }
  .copyright p {
    text-align: center;
    margin-top: 0px;
  }
  .social-media {
    float: none;
  }
}

@media (min-width: 320px) {
  .node--type-product.ds-2col-stacked-fluid>.group-left {
    float: left;
    width: 100%;
    outline: 1px solid #e6e6e6;
    text-align: center;
    display: block;
  }
  .node--type-product.ds-2col-stacked-fluid>.group-right {
    float: left;
    width: 100%;
  }
  #block-base-zymphonies-theme-footer ul.menu {
    display: none;
  }
  .footer-menu {
    padding: 5px;
    text-align: center;
  }
  .footer-menu ul li a {
    font-size: 11px;
  }
  .copyright {
    margin-top: 0px;
    font-size: 11px;
    background-color: #1d2025;
    color: white;
    border-top: 0px solid #333;
    padding-top: 20px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .node--type-product.ds-2col-stacked-fluid>.group-left {
    float: left;
    width: 50%;
  }
  .node--type-product.ds-2col-stacked-fluid>.group-right {
    float: right;
    width: 50%;
    padding: 0 10px 10px 20px;
  }
  #block-base-zymphonies-theme-footer ul.menu {
    display: block;
    margin: 0px;
  }
  .copyright {
    border-top: 1px solid #333;
    padding-top: 0px;
    text-align: left;
  }
}

.content p {
  line-height: 1.5em;
  font-size: 16px;
  font-family: arial;
}


/*----------------------------
	Content bottom layout on Homepage
-----------------------------*/

.content__bottom_layout .region.region-content-bottom {
  padding: 40px 0;
  color: #000;
  text-align: center;
}

.content__bottom_layout .layout--onecol .layout__region--content {
  border: 1px solid #4d92e0;
  padding: 100px 30px 40px 30px;
  background-color: #fff;
}

.content__bottom_layout .layout--onecol .layout__region--content a {
  color: #fff;
  background: #4d92e0;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
}

.content__bottom_layout .layout--onecol .layout__region--content {
  background-size: auto 50px;
  background-repeat: no-repeat;
  background-position: center 20%;
  border-radius: 3px;
}

#wrapper-content-bottom .layout--onecol .layout__region--content {
  background-image: url("/sites/default/files/mint-valuation-logo.png");
}

/* .content__bottom_layout #block-testbox2 .layout--onecol .layout__region--content {
  background-image: url(../images/hand-peace-solid.svg);
}

#block-valuationforinsurance .layout__region--content,
.content__bottom_layout #block-testbox3 .layout--onecol .layout__region--content {
  background-image: url(../images/gem-solid.svg);
} */

#wrapper-content-bottom {
  background-color: #4d92e0;
}

.social-media-wrapper {
  display: block;
  min-height: 31px;
  position: relative;
}

.social-media-wrapper i.fa {
  font-size: 18px;
  color: white;
}

.region-page-title {
  padding-top: 20px;
}

.product {
  position: relative;
}

@media (min-width: 320px) and (max-width: 450px) {
  .product .product-image-wrapper a {
    display: contents;
  }
}

@media (min-width: 451px) {
  .product .product-image-wrapper a {
    display: block;
    text-align: center;
  }
  .product-image-wrapper img {
    max-height: 100%;
  }
}

.product .product-image-wrapper {
  display: grid;
  height: 360px;
  overflow: hidden;
  outline: 1px solid #e6e6e6;
}

@media (min-width: 320px) and (max-width: 450px) {
  .product .product-image-wrapper {
    height: auto;
  }
}

@media (min-width: 451px) and (max-width: 767px) {
  .product .product-image-wrapper {
    height: 210px;
  }
}

.product .product-image-wrapper+.description p {
  margin: 0px;
  line-height: 2em;
}

.product .product-image-wrapper+.description p a {
  color: #4d92e0;
}

.product .product-image-wrapper+.description {
  display: block;
  width: 100%;
  background: #fff;
  color: #4d92e0;
  overflow: hidden;
  padding-top: 10px;
  height: 70px;
}

@media (min-width: 320px) {

}

@media (max-width: 767px) {
  .path-product-category .category .views-col {
    min-width: 100%;
    padding-right: 0px;
  }
  .path-products .views-view-grid .views-row .padding-right-20 {
    padding-right: 0px;
  }
  .views-view-grid .padding-right-20 .views-row {
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .path-products .views-view-grid .views-col {
    min-width: 100%;
  }
}

.product-image-wrapper img {
  transition: all .2s ease-in-out;
}

.product-image-wrapper:hover img {
  transform: scale(1.1);
}

.path-frontpage .product .product-image-wrapper {
  outline: 0px solid #e6e6e6;
  background: #fff;
}

.path-frontpage .product .product-image-wrapper+.description p a {
  color: #fff;
}

.path-frontpage .product .product-image-wrapper+.description p {
  line-height: 2em;
  text-align: left;
}

.path-frontpage .product .product-image-wrapper+.description {
  background: #4d92e0;
  color: #fff;
}

.path-frontpage .three-products-block .views-view-grid .views-col {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .path-frontpage .three-products-block .views-view-grid .views-col {
    min-width: 100%;
    margin-bottom: 20px;
  }
}

.three-products-block .views-view-grid .views-col .product-info {
  border-radius: 3px;
  overflow: hidden;
}

.region-content-bottom h2.title {
  color: #fff;
  font-weight: bold;
}

.imagefield_slideshow-wrapper {
  position: relative;
}

.imagefield_slideshow {
  margin-left: auto;
  margin-right: auto;
}

.imagefield_slideshow-next, .imagefield_slideshow-prev {
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.imagefield_slideshow-next {
  right: 5px;
  background-image: url(/themes/contrib/base_zymphonies_theme/images/if_left_1303879png.png);
  background-repeat: no-repeat;
  background-size: 25px auto;
  text-indent: -99999px;
  padding: 10px;
  background-position: -5px 50%;
  transform: rotate(180deg);
}

.imagefield_slideshow-prev {
  left: 5px;
  background-image: url(/themes/contrib/base_zymphonies_theme/images/if_left_1303879png.png);
  background-repeat: no-repeat;
  background-size: 25px auto;
  text-indent: -99999px;
  padding: 10px;
  background-position: -5px 50%;
}

#block-views-block-products-block-1 h2 {
  padding-bottom: 20px;
}

#block-views-block-products-block-1 {
  float: left;
  width: 100%;
  padding-top: 20px;
}

.content__bottom_layout #block-testbox1 .layout--onecol .layout__region--content {

}
